[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/sqlite"]
	path = cookbooks/sqlite
	url = https://github.com/chef-boneyard/sqlite
[submodule "cookbooks/seven_zip"]
	path = cookbooks/seven_zip
	url = https://github.com/windowschefcookbooks/seven_zip
[submodule "cookbooks/mingw"]
	path = cookbooks/mingw
	url = https://github.com/chef-cookbooks/mingw
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/chef-cookbooks/windows
